<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<template name="learning_modules">
	{{#mooqita_wide_spacing}}
		<h1 style="text-align: center; padding-top: 30px">
			<img style="width: 300px" src="/images/mooqita.jpg">
		</h1>

		<h1>Learning Modules</h1>

		<div class="container-fluid"> <!-- If Needed Left and Right Padding in 'md' and 'lg' screen means use container class -->
            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">					
					<div class="card" style="width: 18rem; height: 25rem; border: solid 1px; border-color: #8d0162; display: flex; flex-direction: column;">
						<div class="mooqita-card-title align-self-center">
							<div class="align-middle">
								<h2 class="card-title">Computational Thinking</h2>
							</div>
						</div>
						<div class="card-body p-1" style="flex: 1;display: flex; flex-direction: column; padding: 15px" >
							<div class="mooqita-center" style="flex: 1;">
								<img class="" src="/images/learner_comp.jpg" alt="Card image cap">
							</div>
						  <div class="text-center">
						  	<a href="learning_progress" class="btn btn-primary">Continue Course</a>
							</div>
						</div>
					  </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
					<div class="card" style="width: 18rem; height: 25rem; border: solid 1px; border-color: #8d0162; display: flex; flex-direction: column;">
						<div class="mooqita-card-title align-self-center">
							<div class="align-middle">
								<h2 class="card-title">Python</h2>
							</div>
						</div>
						<div class="card-body p-1" style="flex: 1;display: flex; flex-direction: column; padding: 15px" >
							<div class="mooqita-center" style="flex: 1;">
								<img class="" src="/images/learner_python.png" alt="Card image cap">
							</div>
						  <div class="text-center">
						  	<a href="learning_progress" class="btn btn-primary">Continue Course</a>
							</div>
						</div>
					  </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="card" style="width: 18rem; height: 25rem; border: solid 1px; border-color: #8d0162; display: flex; flex-direction: column;">
						<div class="mooqita-card-title align-self-center">
							<div class="align-middle">
								<h2 class="card-title">Cobol</h2>
							</div>
						</div>
						<div class="card-body p-1" style="flex: 1;display: flex; flex-direction: column; padding: 15px" >
							<div class="mooqita-center" style="flex: 1;">
								<img class="" src="/images/learner_cobol.png" alt="Card image cap">
							</div>
						  <div class="text-center">
						  	<a href="learning_progress" class="btn btn-primary">Continue Course</a>
							</div>
						</div>
					  </div>
                </div>
            </div>
        </div>

        
	{{/mooqita_wide_spacing}}
</template>


