<!------------------------------------------------
|
| Onboarding Intro
|
-------------------------------------------------->
<!--<template name="onboarding_teacher_intro">
	{{#mooqita_wide_spacing}}
		<div class="row padding-top" style="margin-top: 20%">
			<div class="col-sm-6">
				<h1 style="text-align: center; padding-top: 30px">

				</h1>

            </div>
			<div class="col-sm-4">
				<h1>Teachers meet the Promise of Standards</h1>


                <a class="btn btn-theme" href="teacher-designed_quiz_challenges">Design a Test</a>
                <a class="btn btn-theme" href="teacher-designed_challenges">User Analytics </a>
                <a class="btn btn-theme" href="teacher-designed_challenges">Peer Review</a>



			</div>
		</div>

</template>-->

<template name="onboarding_teacher_intro">
	{{#mooqita_wide_spacing}}
		<div class="row padding-top" style="margin-top: 20%">
			<div class="col-sm-6">
				<h1 style="text-align: center; padding-top: 30px">
					<img style="width: 300px" src="/images/mooqita.jpg">
				</h1>
			</div>

			<div class="col-sm-6">
				<h1>Teachers meet the Promise of Standards</h1>

				<p style="padding-bottom: 25px">
					Mooqita can help you to evaluate all your applicants before you have even read one resume.
					Mooqita allows you to rank your candidates based on their real life performance in your
					individually designed Mooqita-Challenge and our Mooqita-Team-Fit personality score.
				</p>

				<a class="btn btn-theme" href="teacher-designed_quiz_challenges">Design a Test</a>
                <a class="btn btn-theme" href="teacher-designed_challenges">User Analytics </a>
                <a class="btn btn-theme" href="teacher-designed_challenges">Peer Review</a>
			</div>
		</div>
	{{/mooqita_wide_spacing}}
</template>
